<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TODO LIST</title>
        <!-- Materialize CSS -->
    <link rel="stylesheet" href="./assets/css/materialize.min.css">
    <!-- Material Font -->
    <link rel="stylesheet" href="./assets/css/material-font.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./assets/css/todo.css">
		<link rel="stylesheet" href="./assets/css/login.css">
        <script src="./assets/js/vue.js"></script>
    
    </head>
    <body>
	<div class="container">
    <nav>
        <div class="nav-wrapper grey darken-2">
          <ul>
           <ul class="left hide-on-med-and-down">
            <li><a href="./index.html">&nbsp&nbspHome&nbsp&nbsp</a></li>
            <li><a href="./Profile.html">&nbsp&nbspProfile&nbsp&nbsp</a></li>
            <li><a href="blog.html">&nbsp&nbsp&nbspBlog&nbsp&nbsp&nbsp&nbsp</a></li>
            <li class="active"><a href="./todo.html">&nbsp&nbsp&nbspTodo&nbsp&nbsp&nbsp&nbsp</a></li>
            
          </ul> 
    
    
    
          <ul class="right hide-on-med-and-down">
           <li><nav>
          <form>
            <div class="right input-field grey">
              <input id="search" placeholder="Search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </nav></li>
            <li><a href="#login" class="waves-effect waves-light   modal-trigger"><i class="material-icons right">fingerprint</i>&nbsp&nbsp&nbsp&nbspLogin&nbsp&nbsp&nbsp</a>
            </li>
          </ul>
        </div>
    
      </nav>








<!--  Modal -->

<div id="login" class="modal ">
	<h5 class="modal-close">&#10005;</h5>
	<div class="modal-content center">
	  <h4>Login Form</h4>
	  <br>
  
	  <form action="#">
  
		<div class="input-field">
		  <i class="material-icons prefix">person</i>
		  <input type="text" id="name">
		  <label for="name">Username</label>
		</div>
		<br>
  
		<div class="input-field">
		  <i class="material-icons prefix">lock</i>
		  <input type="password" id="pass">
		  <label for="pass">Password</label>
		</div>
		<br>
  
		<div class="left" style="margin-left:20px;">
		   <label>
		  <input type="checkbox"/>
		  <span>Remember Me</span>
		</label>
  
		</div>
		<br>
		
		<input type="submit" value="Login" class="btn btn-large">
		
	  </form>
	</div>
  </div>
  <!--  Modal -->
	
  <main id="app" class="container">
        
	<h3>TODO LIST</h3>

	<fieldset>
		<form class="row" @submit.prevent="addTask(title)">
			<div class="input-field col m6 offset-m3">
				<input id="taskTitle" type="text" v-model="title">
			</div>
			<div class="col m4 offset-m5">
				<button type="submit" class="btn-floating btn-large waves-effect waves-light blue">
					<i class="material-icons">add</i></button>
			</div>
		</form>

		<p>{{ remaining() }} / {{ tasks.length }}</strong> task<span v-if="remaining() > 1">s</span> remaining.</p>
		
		<ul class="collection">
			<li class="collection-item" v-for="(task, index) in tasks">
				<label :for="'t_'+ (index + 1)">
				  <input type="checkbox" v-model="task.isDone" :id="'t_'+ (index + 1)">
				  <span>{{ task.title }}</span>
				</label>
				<a href="#" class="link-delete" title="Delete" @click="deleteTask(index)">
					<i class="small material-icons">delete_forever</i>
				</a>
			</li>
		</ul>

	</fieldset>

</main>
<br>



     <!-- Footer -->

<footer class="grey darken-2 page-footer">
    <div class="grey darken-2 footer-copyright">
      <div class="container">
      © 2014 Copyright Allrights Reserved.
      <a class="grey-text text-lighten-4 right" href="#!">Jz Ambal</a>
      </div>
    </div>
  </footer>
</div>
<!-- Footer -->
   


    
   <!-- Material JS -->
<script src="./assets/js/materialize.min.js"></script>
<script src=./assets/js/js.js></script>
<script>
new Vue({
	el: 'main#app',
	data: {
		tasks: [
			{title: "Barro Assignment", isDone: false},
			{title: "Github Todo List Push", isDone: true}
		],
		title : ""
	},

	methods: {
		remaining: function () {
			var remains = 0;
			this.tasks.forEach(function (task) {
				if (task.isDone === false) {
					remains++;
				}
			});
			return remains;
		},

		deleteTask: function (index) {
			Vue.delete(this.tasks, index);
		},

		addTask: function (title) {
			if (title !== "") {
				Vue.set(this.tasks, this.tasks.length, {title, isDone: false});
			}
		}
	}
});
</script>
</body>

</html>